@charset "UTF-8";
/*미디리쿼리*/
html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px; }
  hr.light {
    border-color: white; }

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40; }
  a:hover, a:focus {
    color: #eb3812; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

p {
  font-size: 16px;
  line-height: 1.5; }

.bg-primary {
  background-color: #F05F40; }

.bg-dark {
  background-color: #222222;
  color: white; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 10px 0; }

aside {
  padding: 50px 0; }

.noPadding {
  padding: 0 !important; }

.noConner {
  border-radius: 0; }

.under_line {
  border-bottom: 2px solid black; }

.noMargin {
  margin: 0 0 0 0; }

.conner10 {
  border-radius: 10px; }

.conner50 {
  border-radius: 50px; }

.red {
  background-color: red;
  margin-right: 10px; }

.green {
  background-color: green;
  margin-right: 10px; }

.status {
  color: white;
  font-size: 8px;
  padding: 2px 5px; }

.fs10 {
  font-size: 10px !important; }

.inline {
  display: inline-block; }

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .navbar-default .navbar-header .navbar-brand {
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
      color: #eb3812; }
  .navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase; }
  .navbar-default .nav > li > a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222; }
    .navbar-default .nav > li > a:focus {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: #222222; }
    .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
      color: #F05F40; }
  .navbar-default .nav > li.active > a {
    color: #F05F40 !important;
    background-color: transparent; }
    .navbar-default .nav > li.active > a:focus {
      color: #F05F40 !important;
      background-color: transparent; }
    .navbar-default .nav > li.active > a:hover, .navbar-default .nav > li.active > a:focus:hover {
      background-color: transparent; }

#mapSection {
  font-size: 10px;
  padding: 0 0 0 0; }
  #mapSection .listWrap {
    height: 350px;
    overflow-y: scroll; }
    #mapSection .listWrap .addr_ul {
      padding: 5px !important; }
    #mapSection .listWrap .addr_list {
      padding: 5px !important;
      width: 100%;
      list-style: none;
      border: 1px solid #ccc;
      margin-bottom: 5px;
      position: relative; }
      #mapSection .listWrap .addr_list li {
        list-style: none; }
        #mapSection .listWrap .addr_list li:nth-child(1) {
          margin-bottom: 5px; }
      #mapSection .listWrap .addr_list .rateYo {
        padding: 0 0 0 10px; }
      #mapSection .listWrap .addr_list .list-tlt {
        color: #ff8747;
        vertical-align: middle;
        font-size: 1.5em !important;
        margin: 0 0 0 0; }
    #mapSection .listWrap .contWrap {
      padding: 0 0 0 10px; }
      #mapSection .listWrap .contWrap .list_content {
        font-size: 8px !important;
        padding: none;
        margin: 0 0 0 0; }
    #mapSection .listWrap .list_title {
      font-size: 10px !important;
      width: 100%;
      background-color: #ff8747;
      color: white;
      font-weight: normal !important;
      padding: 10px !important;
      font-size: 2em; }
      #mapSection .listWrap .list_title:nth-child(2) {
        background-color: grey; }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: #ff8747; }
  header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%; }
    header .header-content .header-content-inner h1 {
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 30px; }
    header .header-content .header-content-inner hr {
      margin: 30px auto; }
    header .header-content .header-content-inner p {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      margin-bottom: 50px; }

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  font-weight: 700;
  text-transform: uppercase; }

.btn-xl {
  padding: 15px 30px; }

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222; }

img::selection, img::-moz-selection {
  color: white;
  background: transparent; }

body {
  webkit-tap-highlight-color: #222222; }

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 16px; }
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 22px; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }
  .swipe .swipe-wrap {
    overflow: hidden;
    position: relative; }
    .swipe .swipe-wrap div {
      float: left;
      width: 100%;
      position: relative; }

.navbar-default {
  border-color: rgba(255, 255, 255, 0.3); }
  .navbar-default .logo {
    margin-left: 50px !important; }
  .navbar-default .navbar-header .navbar-brand {
    color: black; }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
      color: #ff8747; }
  .navbar-default .nav > li > a {
    color: rgba(255, 255, 255, 0.7); }
    .navbar-default .nav > li > a:focus {
      color: rgba(255, 255, 255, 0.7); }
    .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus:hover {
      color: white; }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05); }
    .navbar-default.affix .navbar-header .navbar-brand {
      color: black;
      font-size: 14px; }
      .navbar-default.affix .navbar-header .navbar-brand:hover, .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812; }
    .navbar-default.affix .nav > li > a {
      color: #222222; }
      .navbar-default.affix .nav > li > a:focus {
        color: #222222; }
      .navbar-default.affix .nav > li > a:hover, .navbar-default.affix .nav > li > a:focus:hover {
        color: #F05F40; }

.gnb .gnb_ul {
  width: 60%;
  margin: 5px 0 0 10px; }
  .gnb .gnb_ul .gnb_li {
    text-align: center;
    padding: 15px 0;
    width: 10%; }
    .gnb .gnb_ul .gnb_li:nth-child(6) {
      margin-right: 10px; }
      .gnb .gnb_ul .gnb_li:nth-child(6) a {
        color: #ff8747; }
    .gnb .gnb_ul .gnb_li:nth-child(7) a {
      background-color: #ff8747;
      color: white; }
    .gnb .gnb_ul .gnb_li:first-child {
      width: 15%; }
    .gnb .gnb_ul .gnb_li .gnb_btn {
      color: black;
      font-size: 12px; }
  .gnb .gnb_ul .sign_li {
    padding: 13px 0 !important; }
    .gnb .gnb_ul .sign_li a {
      border: 2px solid #ff8747; }

.info_market {
  background-color: #ff8747; }
  .info_market .info_tlt {
    color: white;
    font-size: 2em; }
    .info_market .info_tlt span {
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 5px; }
  .info_market .circle {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid white;
    text-align: center;
    color: white;
    font-size: 2em; }
    .info_market .circle a {
      color: white;
      text-decoration: none; }

.botArea {
  padding: 0 0 0 0;
  border-bottom: 1px solid #ccc; }
  .botArea .bot_menu {
    text-align: center !important;
    padding: 1em 0;
    font-size: 14px;
    border-right: 1px solid #ccc; }
    .botArea .bot_menu:first-child {
      border-left: 1px solid #ccc; }
    .botArea .bot_menu:last-child {
      color: #ff8747; }

.footer {
  text-align: center;
  padding: 5em 0; }
  .footer address {
    text-align: left; }

/*# sourceMappingURL=default.css.map */
